soundfile
audio2numpy
sounddevice
ffmpeg
PyQt5
datetime
inspect
bz2
copy
functools
importlib
io
librosa
matplotlib
multiprocessing
numpy
os
pandas
pickle
platform
psutil
py_compile
re
scipy
shutil
sounddevice
subprocess
sys
time
traceback
webbrowser
windows_tools.bitlocker
pkg_resources
ConfigObj
